.signin-wrapper{
    background-color: black;
    height: 100vh;
}
.signin{
    background-image: linear-gradient(to top , rgba(0, 0, 0, 0.84) , rgba(0, 0, 1, 0)), url(../../Assets/Search-8jpg.jpg);
    height: 45vh;
    background-position: center;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.signin-content{
    color: white;
    display: flex;
    justify-content: center;
}
.signin-title{
    color: white;
    font-size: 40px;
    margin: 0;
}
.signin_form{
    width: 40%;
    margin: auto;
    text-align: center;
}
.input_value{
    background-color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;

}
.signin_button{
    background-color: aquamarine;
    box-shadow: 1px 1px 60px aquamarine;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
    width: 220px;
    border: none;

}
.signin-contents{
    color: white;
}
.Sign_up{
    font-size: 15px;
    color:crimson;
    cursor: pointer;
}